//CSS RESET

* {
   box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

p {
   font-family: 'Libre Baskerville', serif;
}

.container {
   //border: 1px solid black;
   max-width: 1820px;
   margin: 0 auto;
   padding: 0 60px;
}



//HEADER

.header-container {
   display: flex;
   justify-content: space-between;
   align-items:center;
   padding: 30px 0px 35px 0px;

      .menu-burger {
         display: flex;
         cursor: pointer;

            .burger {
               font-size: 30px;
               color: #d73455;
               //padding-top: 7px;
            }

            .menu {
               align-self: center;
               font-family: "Open Sans", sans-serif;
               font-size: 0.85714em;
               font-weight: 700;
               color: #d73455;
               line-height: 16px;
               padding-left: 8px;
               text-transform: uppercase;
            }
      }

      .logo {
         //border: 1px solid blue;

            img {
               width: 150px;
               height: auto;
            }
      }

      .navigation-button {
         display: flex;
         align-items: center;

            ul.social-list-top{
               display: flex;
               padding: 0px;
               margin: 0;

                  li {
                     list-style: none;
                     width: 20px;
                     font-size: 0px;
                     margin: 0 0 0 12px;

                        a {
                           text-decoration: none;

                              svg {
                                 fill:#d73455;
                              }
                        }
                  }
            }

            ul.user-search-cart {
               display: flex;
               padding: 0px;
               margin: auto;
               margin-left: 30px;

                  li.user {
                     margin-right: 12px;
                  }

                  li.search {
                     margin-right: 12px;
                     width: 23px;
                  }

                  li.cart {
                     position: relative;
                     margin-left: 7px;
                     width: 26px;
                  }

                  li {
                     list-style: none;
                     width: 25px;
                     cursor: pointer;

                        svg {
                           fill:#d73455;
                        }

                        a {
                           text-decoration: none;

                              span {
                                 color:#d73455;
                                 font-family: "ITC Conduit", sans-serif;
                                 font-weight: 700;
                                 font-size: 14px;
                                 position: absolute;
                                 top: 8px;
                                 left: -7px;
                              }
                        }
                  }
            }
      }
}




/// MAIN SLIDESHOW ///

.slideshow {
   position: relative;

      .image-container-blue {
         padding: 30px;
         max-width: 2000px;
         width: 100%;
         height: 100vh;
         background-image: url("https://cdn.shopify.com/s/files/1/1004/5518/files/feature_image_1.jpg?v=1522119992");
         background-size: cover;
         background-position: center center;
         display: flex;

            .content-wrapper {
               text-align: center;
               margin: auto;
               display: flex;
               flex-direction: column;
               justify-content: center;

                  .h1-title {
                     margin: auto;

                        h1 {
                           margin: 0px;
                           font-family: 'Roboto', sans-serif;
                           color: white;
                           font-size: 50px;
                           font-weight: 500;
                           letter-spacing: 0.1em;
                           text-transform: uppercase;
                           display: inline;
                           border-bottom: 4px solid #d73455;
                        }
                  }

                  .slide-button {
                     margin: auto;
                     

                        a.btn {
                           display: flex;
                           text-decoration: none;
                           padding: 7.5px 15px 8.5px;
                           background: #d73455;
                           border: 2px solid #d73455;
                           border-radius: 3px;
                           margin-top: 50px;                           

                              span {
                                 text-transform: uppercase;
                                 font-family: "Open Sans", sans-serif;
                                 font-size: 12px;
                                 font-weight: 700;
                                 font-style: normal;
                                 letter-spacing: 0px;
                                 color: white;
                                 line-height: 1.7;
                              }

                              svg {
                                 width: 20px;
                                 margin-left: 8px;
                                 fill:white;
                              }
                        }

                        a.btn:hover {
                           background-color: black;
                           border: 2px solid black;
                        }

                  }
            }
      }

      .arrow-left {
         position: absolute;
         width: 50px;
         top: calc(50% - 25px);
         left: 30px;
         fill: white;
         cursor: pointer;
      }

      .arrow-right {
         position: absolute;
         width: 50px;
         top: calc(50% - 25px);
         right: 30px;
         fill: white;
         cursor: pointer;
      }
}




/// SNAPBACKS SECTION ///

.snapbacks-container {
   display: flex;
   flex-direction: column;

      .text-container {
         padding: 60px 0px;
         display: flex;
         flex-direction: column;
         align-self: center;
         align-items: center;
         

            h2 {
               font-size: 13.5px;
               font-family: 'Roboto', sans-serif;
               font-weight: 500;
               letter-spacing: 0.2em;
               text-transform: uppercase;
               color: black;
               margin: 0px;
               margin-bottom: 38px;
               text-align: center;
            }

            & h2::after {
               content: "";
               display: block;
               height: 3px;
               width: 15px;
               background-color: #f0f0f0;
               margin: 15px auto 0;
            }

            .paragraph {
               width: 95%;
               
                  p {
                     margin: 0px;
                     font-family: "Libre Baskerville", serif;
                     font-size: 18px;
                     line-height: 1.6;
                  }

                  & p:first-child {
                     margin-bottom: 15px;
                  }
            }
      }

      .goods-container {
         display: flex;
         flex-wrap: wrap;
         margin: 60px 0px;

            .goods {
               width: 50%;
               position: relative;
               padding-left: 25px;

               &.goods:nth-child(odd) {
                  padding-left: 0px;
                  padding-right: 25px;
               }

               a {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;

                     img {
                        width: 100%;
                        height: auto;
                     }

                     .content {
                        position: absolute;

                        h3 {
                           text-align: center;
                           line-height: 1.2em;
                           margin: 0px;
                           font-family: 'Roboto', sans-serif;
                           color: white;
                           font-size: 50px;
                           font-weight: 500;
                           letter-spacing: 0.1em;
                           text-transform: uppercase;
                        }
   
                        .btn {
                           text-align: center;
                           padding: 0px;
                           border: none;
                           display: flex;
                           text-decoration: none;
                           padding: 7.5px 15px 8.5px;
                           background: #d73455;
                           border: 2px solid #d73455;
                           border-radius: 3px;
                           margin: 30px auto auto auto;
                           cursor: pointer;

                              &.btn:hover {
                                 background-color: black;
                                 border-color: black;
                              }
   
                           span {
                              text-transform: uppercase;
                              font-family: "Open Sans", sans-serif;
                              font-size: 12px;
                              font-weight: 700;
                              font-style: normal;
                              letter-spacing: 0px;
                              color: white;
                              line-height: 1.7;
                           }
            
                           svg {
                              width: 20px;
                              margin-left: 8px;
                              fill:white;
                           }
   
                        } 
                     } 
               }
            }
      }
}



/// BEST-SELLER SECTION ///

.best-sellers-container {
   width: 100%;

      .text-container {
         margin-top: 50px;


         h2 {
            font-size: 13.5px;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: black;
            margin: 0px;
            margin-bottom: 38px;
            text-align: center;
         }

         & h2::after {
            content: "";
            display: block;
            height: 3px;
            width: 15px;
            background-color: #f0f0f0;
            margin: 15px auto 0;
         }
         
      }

      .best-sellers {
         display: flex;

            .box {
               margin-right: 50px;
               width: 25%;

               a {
                  display: flex;
                  flex-direction: column;
                  text-decoration: none;
                  

                  img {
                     //display: block;
                     width: 100%;
                     height: auto;
                  }

                  .text {
                     text-align: center;
                  }

                  p {
                     color: black;
                     font-family: 'Roboto', sans-serif;
                     font-size: 12px;
                     font-weight: 500;
                     letter-spacing: 0.05em;
                     text-transform: uppercase;
                     margin: 0px;
                     padding: 3px;
                  }

                  .red {
                     color: #d73455;
                     letter-spacing: 0.1em;
                     font-size: 11.5px;
                  }

               }

               & a:hover {
                  opacity: 0.6;
               }

            }

            & .box:last-child {
               margin-right: 0px;
            }
         
   }
}