//CSS RESET

* {
   box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

p {
   font-family: 'Libre Baskerville', serif;
}

.container {
   max-width: 1820px;
   margin: 0 auto;
   padding: 0 60px;
}



//HEADER

.header-container {
   //border: 1px solid red;
   display: flex;
   justify-content: space-between;
   align-items:center;
   padding: 30px 0px 35px 0px;

      .menu-burger {
         //border: 1px solid blue;
         display: flex;
         cursor: pointer;

            .burger {
               //border: 1px solid red;
               font-size: 30px;
               color: #d73455;
               //padding-top: 7px;
            }

            .menu {
               //border: 1px solid rgb(30, 240, 93);
               align-self: center;
               font-family: "Open Sans", sans-serif;
               font-size: 0.85714em;
               font-weight: 700;
               color: #d73455;
               line-height: 16px;
               padding-left: 8px;
               text-transform: uppercase;
            }
      }

      .logo {
         //border: 1px solid blue;

            img {
               width: 150px;
               height: auto;
            }
      }

      .navigation-button {
         //border: 1px solid blue;
         display: flex;
         align-items: center;

            ul.social-list-top{
               //border: 1px solid rgb(30, 240, 93);
               display: flex;
               padding: 0px;
               margin: 0;

                  li {
                     list-style: none;
                     width: 20px;
                     font-size: 0px;
                     margin: 0 0 0 12px;

                        a {
                           text-decoration: none;

                              svg {
                                 fill:#d73455;
                              }
                        }
                  }
            }

            ul.user-search-cart {
               //border: 1px solid rgb(30, 240, 93);
               display: flex;
               padding: 0px;
               margin: auto;
               margin-left: 30px;

                  li.user {
                     margin-right: 12px;
                     //width: 30px;
                  }

                  li.search {
                     margin-right: 12px;
                     //width: 20px;
                  }

                  li {
                     list-style: none;
                     width: 25px;
                     font-size: 0px;
                     cursor: pointer;

                        svg {
                           fill:#d73455;
                        }

                        a {
                           text-decoration: none;

                              span {
                                 color:#d73455;
                                 font-family: "ITC Conduit", sans-serif;
                                 font-weight: 700;
                                 font-size: 0.85714em;
                              }
                        }
                  }
            }
      }
}
