.container {
   display: flex;
}

.box {
   border: 2px solid black;
   border-left: none;
   border-bottom: none;
   width: 100%;
   height: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 5px;
}

.box.first {
   border-left: 2px solid black;
}

.box.end {
   border-left: 2px solid black;
   border-bottom: 2px solid black;
}

.box img {
   position: relative;
   height: 200px;
   width: auto;
   border: 1px solid black;
   border-radius: 50%;
}

.box .title {
   position: absolute;
   font-size: 30px;
   font-weight: bold;
}

.box .title.wolf {
   top: 20px;
   font-family: 'Audiowide', cursive;
   font-size: 35px;
   letter-spacing: 5px;
}

.box .title.elephant {
   top: 350px;
   font-family: 'Yellowtail', cursive;
   font-size: 45px;
}

.box .title.rabbit {
   font-family: 'Playfair Display SC', serif;
   top: 655px;
   font-size: 22px;
}

.box .title.fox {
   font-family: 'Monoton', cursive;
   top: 435px;
}

.title a {
   text-decoration: none;
   color: rgb(8, 8, 161);
   opacity: 0.7;
}

.title a:hover {
   color:rgb(0, 0, 0);
   opacity: 1;
}

