div {
   background-color: gray;
   width:100px;
}

div p:first-child {
   color: blue;
}

div p:last-child {
   color: red;
}

div p:nth-child(2) {
   color: yellow;
}

ul {
   background-color: gray;
   width: 100px;
   /*list-style-type: none;*/
}

ul li:first-child {
   color: black;
}

ul li:nth-child(2) {
   color: brown;
}

ul li:last-child {
   display: none;
}